.constellation-card {
    border: 2px solid white;
    min-width: 200px;
    max-width: 50%;
    margin: 1rem;
    padding: 1rem;
}
.shower-card {
    border: 2px solid white;
    min-width: 200px;
    max-width: 50%;
    margin: 1rem;
    padding: 1rem;
}

.entity-ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}