#login {
    width: 100%;
    /* border: 2px solid white; */
}
#register {
    width: 100%;
    /* border: 2px solid white; */
}

#auth-form {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 1rem;
    background-color: hsla(280, 10%, 40%, .5);
}
form > * {
    margin: .5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.form-group > * {
    font-size: 1.5rem;
}

.form-control {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 1rem;
    background-color: hsla(240, 40%, 40%), 1;
    color: white;
    max-width: 500px;
    min-width: 25%;
}
.form-control:default {
    background-color: hsla(240, 40%, 40%), 1;
    color: white;
}
.form-control:active {
    background-color: hsla(240, 40%, 40%), 1;
    color: white;
}

input:autofill {
    background-color: gray;
    color: white;
}
input::-ms-reveal {
    color: white;
    background-color: white;
}

#auth-submit {
    background-color: black;
    color: white;
    max-width: 500px;
    /* align-self: flex-start; */
}
#auth-submit:hover {
    background-color: hsla(240, 80%, 20%, .8);
    cursor: pointer;
}

#register-redirect {
    background-color: #AFC7BD33;
    color: white;
    min-width: 200px;
    /* align-self: flex-start; */
}
#register-redirect:hover {
    background-color: hsla(240, 80%, 20%, .8);
    cursor: pointer;
}

#optional-field {
    margin-top: 2rem;
}