body {
  background-color: hsla(240, 90%, 10%, 1);
}

* {
  color: white;
  background-color: hsla(240, 90%, 10%, 1);
}

* > input {
  background-color: hsla(240, 40%, 40%), 1;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  padding-left: 200px;
}
.App > * {
  margin: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.qam-btn {
  color: #AFC7BD;
  padding: 10px 20px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/* .left-pane {
  background-color: red;
  width: 100%;
} */