body {
  background-color: hsla(240, 90%, 10%, 1);
}

* {
  color: white;
  background-color: hsla(240, 90%, 10%, 1);
}

.App {
  text-align: center;
  display: flex;
}
.App > * {
  margin: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

