:root {
  box-sizing: border-box;
  background-color: #000334;
  color: #AFC7BD;
  --color-prime: #000334;
  --color-second: #AFC7BD;
  --color-third: #CDC6A7;
  --color-fourth: #DC822D;
  --color-fifth: #AE4621;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 8px;
  padding: .5rem;
  margin: .25rem;
}
button:hover {
  text-decoration: underline;
}