p {
    line-height: 1.5rem;
}

#home-page {
    height: fit-content;
    margin: 0 10rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

#home-page > h1 {
    font-size: 5rem;
}
#home-page > article > h2 {
    font-size: 2.5rem;
    text-decoration: solid underline 1px white;
}
#home-page > article {
    margin: 4rem 0;
}
#home-page > article > p {
    font-size: 1.5rem;
}

#too-much {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: solid underline 1px white;
}

.text-link {
    font-weight: 600;
    text-decoration: solid underline 1px red;

}
.text-link:hover {
    background-color: red;
    cursor: pointer;
}

